<form>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="fname">First Name</label>
				<input class="form-control" id="fname" placeholder="First Name">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lname">Last Name</label>
				<input class="form-control" id="lname" placeholder="Last Name">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" placeholder="Email">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="phone">Mobile Phone</label>
				<input type="tel" class="form-control" id="phone" placeholder="Mobile Phone">
			</div>
		</div>
	</div>
	<div class="row">
		<p class="col-sm-4 col-sm-offset-4">
			<button type="submit" class="btn btn-outlined btn-default btn-block">Subscribe</button>
		</p>
	</div>
</form>